* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
.navbar {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h1 {
  font-size: 2.6em;
  font-weight: bold;
}
.menu {
  list-style: none;
  display: flex;
}
.menu li {
  position: relative;
}
.menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.menu a:hover {
  background-color: gray;
}
.dropdown-menu {
  position: relative;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 200px;
  display: none;
}
.dropdown-menu li a {
  padding: 10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
#toggle-menu {
  display: none;
}
.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}
/* media query*/
@media only screen and (max-width:768px){
    .menu{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #222;
        flex-direction: column;
        display: none;
    }
    .menu-icon{
        display: block;
        font-size: 30px;
    }
    #toggle-menu:checked + .menu-icon + .menu{
        display: block;
    }
    .menu li{
        border-bottom: 1px solid lightgray;
    }
    .dropdown-menu {
        position: static;
    }
 .dropdown:hovor{}
}
