* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
  background-image: url("https://images.pexels.com/photos/35796/amazing-beautiful-beauty-blue.jpg");
  background-size: cover;
  height: 109vh;
}
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  height: 70px;
  float: left;
}
.logo {
  color: orange;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  float: left;
  padding-top: 10px;
}
.menu {
  width: 400px;
  height: 70px;
  float: left;
}
ul {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li {
  list-style: none;
  margin-left: 65px;
  margin-top: 27px;
  font-size: 18px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: orange;
}
.search {
  width: 330px;
  float: left;
  margin-left: 270px;
  margin-top: 15px;
}
.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid orange;
  margin: top 13px;
  color: white;
  border-right: none;
  font-size: 16px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.btn {
  width: 100px;
  height: 40px;
  background: orange;
  border: 2px solid orange;
  color: white;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn:focus{
  outline: none;
}
.srch:focus{
 outline: none;
}
.content{
  width: 1200px;
  height: auto;
  margin: auto;
  color: white;
  position: relative;
}
.content .para{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1.2px;
  line-height: 30px;
}